{% extends 'htmls/base.html'%}
{% block title %} Detail Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class= "container">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img class= img-thumbnail src="{{ post.author.profilemodel.image.url }}" alt="profile-img">
                            </div>
                            <div class= "col-md-8">
                                <small>{{ post.date_created }}</small>
                                {% if post.author == request.user %}
                                <span><a class="btn btn-danger float-right btn-sm" href="{% url 'Post delete' post.id %}">Delete</a></span>
                                <span><a class="btn btn-primary mx-2 float-right btn-sm" href="{% url 'Post edit' post.id %}">Edit</a></span>
                                {% endif %}
                                <hr>
                                <h4>{{ post.title }}</h4>
                                <p>{{post.content }}</p>
                            </div>
                        </div>
                        <p class= "mt-4">
                            <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">{{post.comment_count}}
                            </a>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div style= "height: 250px; overflow-y: scroll; " class="card card-body">
                                {% for comment in post.comment_set.all %}
                                <p class="text-justify">
                                    {{comment.comments}}
                                </p>
                                {% endfor %}
                            </div>
                        </div>
                        <form method = "POST">
                            {% csrf_token %}
                            {{ comment_form|crispy }}
                            <input class= "btn btn-primary btn-sm" type= "submit" value= "Comment"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


